header{
    background-color: white;
    width: 100%;
}
.inline-block{
    display: inline-block;
}
.centerNav{
    display: inline-block;
    margin-right: 150px;
}
.leftNav{
    float: left;
    margin-top: 50px;
}
.rightNav{
    float: right;
    margin-top: 50px;
}
body {  
        margin: 3px;
  }
.video1{
    width: 100%;
}
.centerblock{
    text-align: center;
    margin: 0 auto;
}
.image-block{

}
.container{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}